.logo {
    display: inline-block;
    width: 120px;
    height: 120px;
}
.logo img {
    width: 120px;
    height: 120px;
}
header {
    background-color: darksalmon;
    height: 150px;
}

.nav {
    display: inline-block;
    height: 150px;
}
.nav a {
    display: inline-block;
    margin: 0px 20px 50px 20px;
    font-size: large;
    text-decoration: none;
}
body {
    background-color: cornsilk;
}
main {
    width: 920px;
    margin: auto;
    margin-top: 40px;
}
main p {
    font-size: 18px;
}
.chapter {
    background-color: bisque;
    line-height: 25px;
    padding: 20px 20px 20px 20px;
    margin: 20px 0 20px 0;
    font-family: "Monotype Corsiva", sans-serif;
}
.chapter img {
    width: 300px;
    float: left;
    margin: 0px 15px 10px 0px;    
}
article h1, h2 {
    text-align: center;
    font-family: "Arial Black", Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
footer {
    height: 150px;
    background-color: darksalmon;
}
footer a {
    font-size: large;
    display: inline-block;
    color: indigo;
    text-decoration: none;
    margin: 40px 0 0 50px;
}
a:hover {
    text-decoration: underline;
}
.content {
    margin: auto;
}
.content li {
    font-size: 18px;
    line-height: 25px;
}

